* {
  font-family: "Space Mono", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.greyfont {
  color: grey;
  font-size: 15px;
}
.App {
  width: 100%;
  height: 100vh;
  background-color: hsl(185, 41%, 84%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: white;
  width: 850px;
  height: 400px;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  gap: 10px;
}

.left-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.input {
  width: 100%;
  position: relative;
}

.dollar {
  background-image: url(./images/icon-dollar.svg);
  width: 12px;
  height: 15px;
  position: absolute;
  bottom: 9px;
  left: 10px;
}

input {
  width: 90%;
  height: 35px;
  background-color: rgba(128, 128, 128, 0.089);
  border: none;
  border-radius: 5px;
  padding-left: 200px;
  font-size: 24px;
  font-weight: 700;
}

input:focus {
  outline: none;
}

.select-tip-container {
  margin: 20px 0;
}
.tip-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.tip-box {
  background-color: hsl(183, 100%, 15%);
  width: 100px;
  padding: 5px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tip-box:hover {
  background-color: hsl(184, 14%, 56%);
  cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.tip-box:nth-child(6) {
  background-color: rgba(179, 179, 179, 0.479);
  font-size: 24px;
  width: 100px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tip-box:nth-child(6) input {
  background-color: rgba(194, 194, 194, 0.075);
  font-size: 24px;
  width: 100px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.money {
  color: hsl(185, 41%, 84%);
}

.tip-box:nth-child(6)::placeholder {
  color: rgb(119, 119, 119);
  font-size: 24px;
  text-align: center;
}
.people-container {
  position: relative;
}
.people-container p {
  margin: 10px 0;
}

.person {
  background-image: url(./images/icon-person.svg);
  width: 12px;
  height: 15px;
  position: absolute;
  left: 10px;
  bottom: 9px;
}

.right-side {
  width: 50%;
  background-color: hsl(183, 100%, 15%);
  padding: 20px;
  border-radius: 15px;
}

.tip-amount-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title-tip-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 10px 0;
}

.total-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 30px;
}
.title {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.total {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.title p {
  font-size: 14px;
  color: hsl(189, 41%, 97%);
}

.title small {
  font-size: 12px;
  color: grey;
}

.total p {
  font-size: 14px;
  color: hsl(189, 41%, 97%);
}

.total small {
  font-size: 12px;
  color: grey;
}

.reset-container {
  width: 100%;
  padding: 0 15px;
  margin-top: 130px;
}

.reset-container button {
  width: 100%;
  height: 33px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: hsl(186, 14%, 43%);
  color: white;
}

@media screen and (max-width: 825px) {
  body {
    width: 100%;
    min-width: 460px;
  }
  #root {
    min-width: 460px;
  }
  .App {
    min-width: 460px;
  }
  .container {
    flex-direction: column;
    height: fit-content;
    min-width: 460px;
  }

  .left-side {
    width: 100%;
  }

  .right-side {
    margin-top: 10px;
    width: 100%;
  }

  .title-tip-container {
    flex-wrap: wrap;
  }
}
